
# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Ignore processed data
data/processed/

# Ignore environment files
.env
.DS_Store

# OS or IDE-specific
*.swp
.vscode/
